body {
    background-color: $bkg-color;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    background-color: $white;
    min-height: 400px;
    width: 100%;
    nav {
        @include span-columns(12);
        height: 60px;
        background-color: rgba($black, 0.5);

        ul {
            @include outer-container;
            @include span-columns(6);
            list-style-type: none;
            margin: 0;
            li {
                display: inline;
            }
        }
        .social {
            @include span-columns(6);
        }
    }
}